{% load static %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/{{ data.post.hero_image }}')">

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{data.post.title}}</h1>
          <h2 class="subheading">{{data.post.headline}}</h2>
          <span class="meta">Posted by
            <a href="#">{{data.post.author.full_name | title}}</a>
            on {{data.post.created_at | date:"F j, Y"}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{data.post.body | safe}}
      </div>
    </div>
  </div>
</article>