{% load static %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'blogs/img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading small">
          <h2>Create a New Post</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">

    <form class="col-12" action="/post/submit" method="POST">
      {% csrf_token %}

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Title</label>
          <input name="title" type="text" class="form-control" placeholder="Title" required>
          <p class="help-block text-danger"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Headline</label>
          <input name="headline" type="text" class="form-control" placeholder="Headline" required>
          <p class="help-block text-danger"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group controls">
          <textarea id="post_form" name="body" class="form-control" placeholder="Body" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
      </div>

      <br>

      <div class="form-group">
        <button type="submit" class="btn btn-primary float-right">Publish</button>
      </div>

    </form>

  </div>
</div>