{% load static %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'blogs/img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading small">
          <h2>Profile</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="sidenav col-md-4 d-none d-md-block d-lg-block">
      <ul>
        <li><a href="#">Posts</a>
        <ul>
          <li><a href="/post/new">+ New Post</a>
        </ul>
        <li><a href="#">Following</a>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="post-preview">
        <a href="/post">
          <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
          </h2>
          <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">September 24, 2019
      </div>
      <hr>
      <div class="post-preview">
        <a href="/post">
          <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
          </h2>
          <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">September 24, 2019
      </div>
      <hr>
      <div class="post-preview">
        <a href="/post">
          <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
          </h2>
          <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">September 24, 2019
      </div>
    </div>
  </div>
</div>